@import url('https://fonts.googleapis.com/css2?family=David+Libre&family=Josefin+Sans:ital,wght@1,300&display=swap');
:root{
	--bg-size:100% 100%;
	--main-color: #fff;
	--title: 'Josefin Sans',sans-serif;
	--font-para:'David Libre', serif;
	--btn-color:#bbe1fa;
	--btn-font-color: #000;
	--btn-font:1.5rem;
	--eff: .3s all ease;
}
*{
	font-family: var(--font-para);
}
html{
	font-size: 62.5%;
}
p,label,input::placeholder{
	font-size: 1.9rem;
	line-height: 170%;
	color: #6c757d;
}
figure img,.fab,.fa{
	transition: var(--eff);
}
a,a:hover{
	text-decoration: none;
	cursor: pointer;
}
body{
	background: (84,3%,94%);
}
.main_heading{
	font-family: var(--title);
	font-weight: bold;
	font-size: 5rem;
	color: #000;
}
.main_heading__para{
	font-size: 2.2rem;
}
.main_header__div{
	height: calc(100vh - 40vh);
	background-image: linear-gradient(to right , rgba(0,0,0,0.5) 50%,rgba(0,0,0,0)), url('images/2.jpg');
	background-size: var(--bg-size);
}
.main_header__div p{
	font-weight: bold;
	font-size: 3.5rem;
	font-family: var(--title);
	color: var(--main-color);
	padding-bottom: 0;
	margin-bottom: 0;
}
.main_header__div h2{
	font-size: 6.2rem;
	font-weight: bold;
	font-family: var(--title);
	color: var(--main-color);
	position: relative;
	padding-bottom: 2rem;
	transition: var(--eff);
}
.main_header__div span{
	font-family: var(--title);
}
.animate_word div li{
	font-weight: bold;
	padding: 0 1rem;
	height: 4.5rem;
	margin-bottom: 4.5rem;
	display: block;
	font-family: var(--title);
}
.animate_word div{
	overflow: hidden;
	position: relative;
	float: right;
	height: 8rem;
	padding-top: 1rem;
	margin-top: -1rem;
}

.flip{
	-webkit-animation: flipp 10s cubic-bezier(0.23,1,0.32,1.2)infinite;
	animation: flipp 10s cubic-bezier(0.23,1,0.32,1.2)infinite;
}
@-webkit-keyframes flipp{
	0%{
		margin-top: -360px;
	}
	5%{
		margin-top: -270px;
	}
	25%{
		margin-top: -270px;
	}
	30%{
		margin-top: -180px;
	}
	50%{
		margin-top: -180px;
	}
	55%{
		margin-top: -90px;
	}
	75%{
		margin-top: -90px;
	}
	80%{
		margin-top: 0px;
	}
	99.99%{
		margin-top: 0px;
	}
	100%{
		margin-top: -270px;
	}
}
@keyframes flipp{
	0%{
		margin-top: -360px;
	}
	5%{
		margin-top: -270px;
	}
	25%{
		margin-top: -270px;
	}
	30%{
		margin-top: -180px;
	}
	50%{
		margin-top: -180px;
	}
	55%{
		margin-top: -90px;
	}
	75%{
		margin-top: -90px;
	}
	80%{
		margin-top: 0px;
	}
	99.99%{
		margin-top: 0px;
	}
	100%{
		margin-top: -270px;
	}
}
.main_header__div button:hover,figure img:hover,.left_div__like:hover{
	transform: translateY(-0.5rem);
	box-shadow: 0 1rem 3rem -1rem rgba(255,255,255,0.7);
}

/***********left side blog*********/
.blog_left__div{

	margin-bottom: 3rem;
}
.blog_title{
	text-align: center;
}
.blog_left__div h1{
	font-weight: bold;
	font-family: var(--title);
	font-size: 3rem; 
}
.blog_left__div .blog_title{
	font-weight: 400;
	font-size: 2.2rem;
}
.blog_left__div .blog_title span{
	color: #1b262c;
	font-weight: bold;
	padding-right: 0.5rem;
}
.left_div__btns{
	margin-top: 3rem;
	transition: var(--eff);
}
.left_div__like{
	color: var(--btn-font-color);
	border:none;
	font-size: var(--btn-font);
	transition: var(--eff);
	padding: 0.8rem 2rem;
	background-color: var(--btn-color);
	border-color: var(--btn-color);
	font-family: var(--title);
	outline: none;
}
.left_div__more{
	color: var(--btn-font-color);
	border:none;
	font-size: var(--btn-font);
	transition: var(--eff);
	padding: 0.8rem 2rem;
	background-color: var(--btn-color);
	border-color: var(--btn-color);
	font-family: var(--title);
	outline: none;
}
.about_me__div{
	width: auto;
	height: 20rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.about_me__div p{
	font-size: 2.2rem;
	padding-bottom: 1.8rem; 
}
.right_div__title{
	background:grey;
	box-shadow: 0 1rem 3rem -1rem rgba(255,255,255,0.7);
}
.right_div__title h2{
	font-size: 2.5rem;
	padding-left: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #fff;
}
.right_sub__div{
	background: #fff;
}
.popular_post{
	width: 40rem;
	height: auto;
}
.right_sub__div .row{
	width: auto;
	height: 12rem;
	padding-left: 1.3rem;
}
.right_sub__div .row .write{
	display: flex;
	justify-content: center;
	align-items: center;
}
.right_sub__div .row .write h3{
	font-weight: bold;
}
.popular_post__img1{
		background-image: url('images/3.png');
	background-size: var(--bg-size);
}
.popular_post__img2{
		background-image: url('images/4.png');
	background-size: var(--bg-size);
}
.popular_post__img3{
		background-image: url('images/5.png');
	background-size: var(--bg-size);
}
.popular_post__img4{
		background-image: url('images/6.png');
	background-size: var(--bg-size);
}
.right_sub__div .row{
	padding: 1.5rem 0;
}
.padd{
	margin-top: 3rem;
}
.right_div_post{
	width: 40rem;
}
.right_sub__div{
	padding: 5rem;
}
.right_sub__div1{
	height: 30rem;
}
.right_sub__div1 .adevetise_img{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.subs_btn{
	outline: none;
	border:none;
	width: 10rem;
	height: 4rem;
	font-size: 1.5rem;
	font-weight: bold;
	border-radius: 2rem;
	background-color: var(--btn-color);
}
.form-control{
	height: 3rem;
}
.question{
	padding: 1.9rem 1rem;
}
@media(max-width: 768px ){
	.main_header__div h2{
		font-size: 4rem;
		display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	}
}